<!-- The Modal View Detail  -->
<div class="modal" id="dialogDetailId">
  <div class="modal-dialog" *ngIf="current">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{current.desc}}
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">

          <div class="row bg-faded">
            <div class="col-12 mx-auto text-center">
              <img *ngIf='current'[src]="current.imgUrl" class="img-fluid rounded">
            </div>
          </div>
          <div *ngIf='!current'>
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>