<div class="container">
  <h1 class="text-center"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i><i
      class="fa fa-heartbeat fa-4x infinite animated pulse delay-2s" aria-hidden="true"></i> <br />En la escala del <span
      style="color:#ff4081">Racoon</span></h1>
  <h2 class="text-center">¿Cómo te sientes hoy?</h2>
  <br />

  <div class="float-right" *ngIf="!isLoading && feelings_array && feelings_array.length>0">
    <mat-radio-group [(ngModel)]="typeView">
      <mat-radio-button [value]="false" class="m-1">Ver tabla</mat-radio-button>
      <mat-radio-button [value]="true" class="m-1">Ver Grid</mat-radio-button>
    </mat-radio-group>
  </div>
  <br />

  <div *ngIf='isLoading'>
    <div class="col-12  p-2 text-center mt-4">
        <i class="fa animated bounce infinite fa-cloud-download fa-2x " aria-hidden="true" style="color:#ff4081"></i> Getting data, please wait ... 
      <span class="sr-only">Loading...</span>

    </div>
  </div>

  <div *ngIf='!isLoading && (!feelings_array || feelings_array.length==0)'>
    <i class="fa fa-commenting-o" aria-hidden="true"></i> Ups no el Raccoon hoy no tiene sentimientos =(

  </div>

  <gridFeelingsRaccoon [list]="feelings_array" *ngIf="typeView"></gridFeelingsRaccoon>
  <tableFeelingsRaccoon [list]="feelings_array" *ngIf="!typeView"></tableFeelingsRaccoon>
  <dialogDetailRaccoon></dialogDetailRaccoon>
  <selectedFeelingRaccoon></selectedFeelingRaccoon>


</div>

<footer class="footerSticky">
    <div class="text-center">Developer:<a href="mailto:gandhi.aguirre@outlook.com?Subject=Hola%20Gandhi"
        target="_top">gandhi.aguirre@outlook.com</a> </div>

</footer>

<router-outlet></router-outlet>